{% extends 'index.html' %}
    {% load static %}
    {% block main %}
        
<div class="container mt-4">
    <div class="row align-items-center cuadro" style="padding-top: 20px;">
        <div class="col-md-6">
            <img src="{{ vehiculo.Imagen.url }}" alt="{{ vehiculo.Nombre }}" class="img-fluid rounded" style="border-radius: 30px;">
        </div>
        <div class="col-md-6 text-white">

            <div class="dat">
                <h1>{{ vehiculo.Modelo }} ({{ vehiculo.Marca }})</h1>
                <p><strong>Precio:</strong> ${{ vehiculo.Precio }}</p>
                <p><strong>Marca:</strong> {{ vehiculo.Marca }}</p>
                <p><strong>Lugar:</strong> {{ vehiculo.Lugar }}</p>
                <p class="description">{{ vehiculo.Desripcion }}</p> 
                <p><strong>Stock disponible:</strong> {{ vehiculo.Cantidad }}</p>

            </div>
           
            {% if messages %}
                {% for message in messages %}
                    <p class="mensaje">{{ message }}</p>
                {% endfor %}
            {% endif %}
            
                <a href="{% url 'visualizar' %}" class="btn btn-primary w-50 mt-2">Volver</a>
            
        </div>
        print("Alerta Stock:", alerta_stock)

    </div>
    {% endblock %}