{% extends 'index.html' %}

    {% load static %}

    <!-- Main -->
    {% block main %}
    <h1 class="tit2">Descubre tu próximo auto</h1>
        <div class="contenedor_visualizar">
            <!-- 
                i-- Variable para el conteo
                forms -- Palabra enviada desde "Data" para Traer los Datos
                for -- Ciclo por Conteo
                Desde el Primer Elemento hasta el Ultimo elemento
            -->
            {% for i in forms %}
            <div class="card" style="width: 18rem;">
                <!-- Pasamos la Ruta de la Imagen Registrada -->
                <img src="{{i.Imagen.url}}" class="card-img-top" alt="Imagen BD">
                <div class="card-body">
                    <h5 class="card-title">{{i.Modelo}}</h5>
                    <h5 class="card-text">Marca: {{i.Marca}}</h5>
                    <h5 class="card-text">${{i.Precio}}</h5>

                    <a href="{% url 'detalle_vehiculo' i.Codigo %}" class="btn btn-info" style="color: aliceblue; font-size: 20px;" >Ver Más</a>
                    <a href="{% url 'modificar' i.Codigo %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'eliminar' i.Codigo %}"  onclick="return confirmarEliminacion();" class="btn btn-danger">Eliminar</a> 
                    <a href="{% url 'agregar_al_carrito' i.Codigo %}" class="btn btn-success">Agregar al Carrito</a>
                </div>
              {% endfor %}
                <script>
                    function confirmarEliminacion() {
                        return confirm("¿Estás seguro de que deseas eliminar este producto? Esta acción no se puede deshacer.");
                    }  
                    
                </script>
        </div>
    {% endblock %}